:root{
    --dark:rgb(45,44,50);
    --lt_yellow:rgb(200,173,68);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.grid_al{
    display: grid;
    grid-template-columns: auto max-content; 
    align-items:right;
}
.main{
    background-color:rgb(229, 233, 183) ;
    margin: 0;
}
#yellow_box{
    max-width: 885px;
    display: block;
    margin: -100px auto;

}
.container{
  padding: 0;
  display: grid;
  /* display:flex; */
}
.lt_cont{
    background-color: var(--dark);
}
.rt_align{
    text-align: right;
    color: white;
}
.profile-container{
    background-color: aliceblue;
    max-width: 885px;
    display: flex;
    padding: 0 0;
    margin: 12px auto;
    /* box-sizing: content-box; */
}
.left{
    max-width: 300px;
    width: 300px;
}
.right{
    display: block;
    min-width: auto;
    width: 852px;
}
#heading{
    margin-top: 50px;
    margin-left: 50px;
}
.headings{
    font-size: 3rem;
}
.hr_line{
    border-top: 2px solid black;
}
.progressContainer {
    display: inline-block;
    width: 100px;
    height: 14px;
    border: 1px solid var(--lt_yellow);
    background-color: var(--lt_yellow);
    margin-left: 70px;
  }
  
.progress {
    display: block;
    height: 100%;
    background-color: var(--dark);
    align-content: right;
  }